.lista {
   display: grid;
   justify-items: center;
}

.lista-items {
    display: grid;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #fff;
    color: #222;
    gap: 0.5rem;
}

.tarea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}